<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header_footer.css">
    <title>Inicio</title>
</head>
<body>
    {{#if adm}}
    <header class="cabecalho">
        <img src="/img/logo.png" alt="logo" class="logo">
        {{!-- <nav> --}}
            <ul>
                <li><a href="/adm">Administrador</a></li>
                <li><a href="/">Câmeras</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Sair  </a></li>
                <li><a href="/carrinho">Carrinho</a></li>
                <a>Usuário: {{tipoUsuario}}</a>
            </ul>  
            <a href="/carrinho"><img src="/img/carrinho.png" alt="logo" class="carrinho" id="carrinho-icon"></a>
        {{!-- </nav> --}}
    </header>
    <hr>
    {{else}}
    <header class="cabecalho">
        <img src="/img/logo.png" alt="logo" class="logo">
        {{!-- <nav> --}}
            <ul>
                <li><a href="/">Câmeras</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/carrinho">Carrinho</a></li>
            </ul>
            <img src="/img/carrinho.png" alt="logo" class="carrinho" id="carrinho-icon">
        {{!-- </nav> --}}
    </header>
    <hr>
    {{/if}} 
    <main>

    </main>
    <footer>

    {{{body}}}
    </footer>
</body>
</html>