<main class="sistema-content">
    <h1>Seja bem-vindo, {{nomeAdm}}!</h1><br>
        <div class="sistema_nav">
           <H4>Produtos:</H4>
            <ul>
                <li><a href="/cadastrar_produto">Cadastrar produto</a><br></li>
                <li><a href="/listar_produto">Listar produto</a><br></li>
                <li><a href="/atualizar_produto">Atualizar produto</a><br></li>
                <li><a href="/apagar_produto">Apagar produto</a><br></li>
                <li><a href="/cadastrar_adm">Cadastrar administrador</a></li>
            </ul>
</main>