<link rel="stylesheet" href="/css/login.css">


<form action="/cadastrar_produto" method="post">
<h1>Cadastrar Produto</h1>
<br>

<input type="text" name="nome_produto" placeholder="Digite o nome do produto"><br><br>
<input type="text" name="cod_produto" placeholder="Digite o código do produto"><br><br>
<input type="text" name="modelo" placeholder="Digite o modelo do produto"><br><br>
<input type="text" name="marca" placeholder="Digite a marca do produto"><br><br>
<input type="text" name="tipo" placeholder="Digite o tipo do produto"><br><br>
<input type="text" name="qtde_estoque" placeholder="Digite a quantidade do produto"><br><br>
<input type="text" name="preco" placeholder="Digite o preco do produto"><br>
<br>
<button type="submit">Cadastrar</button>
{{#if msg}}
    <p>{{msg}}</p>
{{/if}}
</form>